* {
  margin: 0;
  padding: 0;
}
.container-satu {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 40px;
  font-family: "Ubuntu", sans-serif;
}
.container-dua {
  display: flex;
  width: 800px;
  margin: auto;
  font-family: "Ubuntu", sans-serif;
  line-height: 30px;
}
.container-tiga {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}
.card img {
  display: block;
  transform: scale(1);
  transition: all 1.5s ease;
}
.card header {
  overflow: hidden;
}
.card:hover img {
  transform: scale(1.3);
  opacity: 0.6;
}
.card {
  box-shadow: 5px 3px 25px rgb(49, 46, 46);
  margin-bottom: 40px;
}

.layanan h2 {
  margin-top: 30px;
  margin-bottom: 15px;
}
.layanan p {
  margin-bottom: 10px;
  margin-top: 10px;
}
.layanan button {
  margin-bottom: 40px;
  background-color: rgb(85, 144, 255);
  border-radius: 10px;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.layanan button a {
  text-decoration: none;
  color: white;
}
.container-tigaa {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}
.card2 img {
  display: block;
  transform: scale(1);
  transition: all 1.5s ease;
}
.card2 header {
  overflow: hidden;
}
.card2:hover img {
  transform: scale(1.3);
  opacity: 0.6;
}
.card2 {
  box-shadow: 5px 3px 25px rgb(49, 46, 46);
  margin-bottom: 40px;
}

.layanan2 h2 {
  margin-top: 30px;
  margin-bottom: 15px;
}
.layanan2 p {
  margin-bottom: 10px;
  margin-top: 10px;
}
.layanan2 button {
  margin-bottom: 40px;
  background-color: rgb(85, 144, 255);
  border-radius: 10px;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.layanan2 button a {
  text-decoration: none;
  color: white;
}
.container-empat {
  display: flex;
  margin: auto;
  background-color: rgb(219, 219, 219);
  padding: 40px;
  text-align: center;
  justify-content: space-evenly;
  font-family: "Ubuntu", sans-serif;
}
.container-empat button {
  margin-bottom: 40px;
  background-color: rgb(85, 144, 255);
  border-radius: 10px;
  border: none;
  padding: 10px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.container-empat button a {
  text-decoration: none;
  color: white;
  font-family: "Ubuntu", sans-serif;
}
.container-lima {
  display: flex;
  background-color: black;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
}
.lg2 img {
  width: 40%;
  margin-left: 60px;
  margin-top: 30px;
}
.lc::before {
  content: "\f689";
  color: rgb(85, 144, 255);
  font-family: fontAwesome;
  font-size: 50px;
}
.almt {
  color: white;
  display: flex;
  align-items: center;
}
.almt p {
  margin-left: 10px;
}
@media (max-width: 800px) {
  .container-tiga {
    flex-direction: column;
    width: 275px;
  }
  .container-tigaa {
    flex-direction: column;
    width: 275px;
  }
  .card {
    margin-bottom: 40px;
  }
  .container-dua {
    width: 600px;
  }
  .container-empat {
    flex-direction: column;
  }
  .container-empat button {
    margin-top: 10px;
  }
}
@media (max-width: 765px) {
  .container-dua {
    width: 300px;
    align-items: center;
  }
  .container-tiga {
    flex-direction: column;
    width: 275px;
    text-align: center;
    justify-content: center;
  }
  .container-tigaa {
    flex-direction: column;
    width: 275px;
    text-align: center;
    justify-content: center;
  }
  .container-lima {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .almt {
    margin-left: 10px;
    margin-bottom: 20px;
  }
}
