:root {
  --ungu: #5e5eeb;
  --black: #000000;
  --abu: rgb(216, 210, 210);
  --putih: #ffffff;
}
.light {
  --ungu: #c7c7c7;
  --black: #ffffff;
  --abu: #5e5eeb;
  --putih: #5e5eeb;
}

* {
  margin: 0;
  padding: 0;
}
body {
  background: var(--black);
}
.navbar {
  position: relative;
  display: flex;
  z-index: 200000;
  width: 100%;
}
.navbar:after {
  content: "";
  position: absolute;
  top: 70%;
  left: 0;
  width: 100%;
  height: 4px;
  border-bottom: 5px solid var(--ungu);
  margin-top: 5px;
}
.navbar ul {
  list-style: none;
  margin-left: 10vh;
  background: var(--black);
}
.navbar ul li {
  color: var(--abu);
  display: inline-block;
  margin-left: 15vh;
  margin-top: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar ul li:hover {
  color: var(--ungu);
  cursor: pointer;
}
.navbar ul li .kc:hover {
  color: var(--abu);
}
.lg img {
  position: relative;
  right: -5vh;
  width: 300px;
  margin-top: 3px;
}
.sub1 {
  color: var(--putih);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}
.sub1 h1 {
  color: var(--putih);
  font-size: 60px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.sub1 p {
  width: 700px;
  margin-left: 50vh;
  word-spacing: 2px;
  margin-top: 20px;
}
.bts {
  border-bottom: 2px solid var(--ungu);
  width: 600px;
  margin-top: 70px;
  margin-left: 383px;
}
.ktk {
  width: 150px;

  margin-top: -21px;
  margin-left: 610px;
}
.ktk p {
  color: var(--putih);
  text-align: center;
  background: var(--ungu);
  padding: 10px 20px;
  border-radius: 6px;
}
.daftar1 {
  position: relative;
  background: var(--ungu);
  width: 200px;
  height: 400px;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-top: 40px;
}
.mobil {
  position: relative;
  background: var(--putih);
  width: 200px;
  top: calc(50% - 200px);
  height: 400px;
  margin-left: 195px;
  margin-bottom: 20px;
  margin-top: 50px;
  border-radius: 20px;
  float: left;
}

.mobil h3 {
  position: absolute;

  background: var(--ungu);
  margin-left: 26px;
  margin-top: 30px;
  padding: 40px 35px;
  border-radius: 10px;
  color: var(--putih);
}

.mobil h3 span {
  text-decoration: line-through;
  background: var(--ungu);
  font-size: 14px;
  margin-left: 6px;
}
.mobil h4 {
  position: absolute;
  background: var(--putih);
  margin-left: 60px;
  margin-top: 170px;
  color: var(--black);
}
.mobil p {
  position: absolute;
  background: var(--putih);
  margin-left: 26px;
  margin-top: 200px;
  color: var(--black);
}
.mobil a {
  position: absolute;
  text-decoration: none;
  background: var(--ungu);
  border-radius: 10px;
  border: var(--ungu);
  margin-left: 65px;
  margin-top: 340px;
  padding: 10px 20px;
  color: var(--putih);
}
.bts2 {
  border-bottom: 2px solid var(--ungu);
  width: 600px;
  margin-top: 550px;
  margin-left: 383px;
}
.ktk2 {
  width: 150px;
  margin-top: -21px;
  margin-left: 610px;
}
.ktk2 p span {
  color: var(--putih);
  background: var(--ungu);
  font-size: 20px;
}
.ktk2 p {
  color: var(--putih);
  text-align: center;
  background: var(--ungu);
  padding: 10px 20px;
  border-radius: 6px;
}
.mobil a:hover {
  background: var(--putih);
  border: 2px solid var(--ungu);
  color: var(--ungu);
  cursor: pointer;
}

.motor {
  position: relative;
  background: var(--putih);
  width: 200px;
  height: 400px;
  margin-left: 195px;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 20px;
  float: left;
}
.motor h3 {
  position: absolute;
  background: var(--ungu);
  margin-left: 26px;
  margin-top: 40px;
  padding: 40px 35px;
  border-radius: 10px;
  color: var(--putih);
}
.motor h3 span {
  text-decoration: line-through;
  background: var(--ungu);
  font-size: 14px;
  margin-left: 8px;
}
.motor h4 {
  position: absolute;
  background: var(--putih);
  margin-left: 60px;
  margin-top: 178px;
  color: var(--black);
}
.motor p {
  position: absolute;
  background: var(--putih);
  margin-left: 26px;
  margin-top: 200px;

  color: var(--black);
}
.motor a {
  position: absolute;
  text-decoration: none;
  background: var(--ungu);
  border-radius: 10px;
  border: var(--ungu);
  margin-left: 65px;
  margin-top: 340px;
  padding: 10px 20px;
  color: var(--putih);
}
.motor a:hover {
  background: var(--putih);
  border: 2px solid var(--ungu);
  color: var(--ungu);
  cursor: pointer;
}
.hmt {
  position: relative;
  background: var(--putih);
  width: 200px;
  height: 400px;
  margin-left: 195px;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 20px;
  float: left;
}
.hmt h3 {
  position: absolute;
  background: var(--ungu);
  margin-left: 26px;
  margin-top: 40px;
  padding: 40px 35px;
  border-radius: 10px;
  color: var(--putih);
}
.hmt h3 span {
  text-decoration: line-through;
  background: var(--ungu);
  font-size: 14px;
  margin-left: 8px;
}
.hmt h4 {
  position: absolute;
  background: var(--putih);
  margin-left: 60px;
  margin-top: 178px;
  color: var(--black);
}
.hmt p {
  position: absolute;
  background: var(--putih);
  margin-left: 26px;
  margin-top: 200px;

  color: var(--black);
}
.hmt a {
  position: absolute;
  text-decoration: none;
  background: var(--ungu);
  border-radius: 10px;
  border: var(--ungu);
  margin-left: 65px;
  margin-top: 340px;
  padding: 10px 20px;
  color: var(--putih);
}
.hmt a:hover {
  background: var(--putih);
  border: 2px solid var(--ungu);
  color: var(--ungu);
  cursor: pointer;
}
#contact {
  margin-top: 50px;
}
#contact h2 {
  color: var(--ungu);
}
.form-label {
  color: var(--ungu);
}
.uls a {
  text-decoration: none;
  color: var(--abu);
}
.uls a:hover {
  color: var(--ungu);
}
.btn-kirim {
  background-color: var(--ungu);
}
.themeSwitch {
  position: relative;
  height: 30px;
  width: 30px;
  left: -30px;
  background: var(--putih);
  display: inline-flex;
  border-radius: 50%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.themeSwitch::before {
  content: "\f185";
  font-family: fontAwesome;
  color: var(--ungu);
  font-size: 20px;
  z-index: 2;
}
.themeSwitch.active::before {
  content: "\f186";
  font-family: fontAwesome;
  color: var(--ungu);
  background: var(--abu);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}
.reveal {
  position: relative;
  transform: translateX(-200px);
  opacity: 0;
  transition: all 2s ease;
}
.reveal.active {
  transform: translateX(0);
  opacity: 1;
}
@media (max-width: 1100px) {
  .container {
    width: 410px;
  }
  .navbar {
    position: relative;
    display: flex;
    z-index: 200000;
    width: 100%;
  }
  .navbar:after {
    margin-top: 5px;
  }
  .navbar ul {
    margin-left: -75px;
  }
  .navbar ul li {
    color: var(--abu);
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
  }
  .lg img {
    position: relative;
    right: 50px;
    width: 220px;
    margin-top: 3px;
  }
  .sub1 p {
    width: 350px;
    margin-left: 5vh;
    word-spacing: 2px;
    margin-top: 20px;
  }
  .bts {
    width: 300px;
    margin-top: 70px;
    margin-left: 58px;
  }
  .ktk {
    width: 150px;

    margin-top: -21px;
    margin-left: 130px;
  }
  .ktk p {
    color: var(--putih);
    text-align: center;

    padding: 10px 20px;
    border-radius: 6px;
  }

  .mobil {
    position: relative;
    background: var(--putih);
    width: 200px;
    height: 400px;
    margin-left: 110px;
    margin-bottom: 20px;
    margin-top: 50px;
    border-radius: 20px;
    float: left;
  }
  .motor {
    position: relative;
    background: var(--putih);
    width: 200px;
    height: 400px;
    margin-left: 110px;
    margin-bottom: 20px;
    margin-top: 50px;
    border-radius: 20px;
    float: left;
  }
  .hmt {
    position: relative;
    background: var(--putih);
    width: 200px;
    height: 400px;
    margin-left: 110px;
    margin-bottom: 20px;
    margin-top: 50px;
    border-radius: 20px;
    float: left;
  }
  .bts2 {
    width: 300px;
    margin-top: 220vh;
    margin-left: 58px;
  }
  .ktk2 {
    width: 150px;

    margin-top: -21px;
    margin-left: 130px;
  }
  .ktk2 p {
    color: var(--putih);
    text-align: center;

    padding: 10px 20px;
    border-radius: 6px;
  }
  .themeSwitch {
    left: -18px;
    margin-top: 5px;
  }
  .reveal {
    position: relative;
    transform: translateX(-200px);
    opacity: 0;
    transition: all 2s ease;
  }
  .reveal.active {
    transform: translateX(0);
    opacity: 1;
  }
}
/* @media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
  .navbar {
    position: relative;
    display: flex;
    z-index: 200000;
    width: 100%;
  }
  .navbar:after {
    margin-top: 5px;
  }
  .navbar ul {
    margin-left: 15vh;
  }
  .navbar ul li {
    color: rgb(216, 210, 210);
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
  }
  .lg img {
    position: relative;
    right: -90px;
    width: 220px;
    margin-top: 3px;
  }
  .sub1 p {
    width: 350px;
    margin-left: 24vh;
    word-spacing: 2px;
    margin-top: 20px;
  }
  .bts {
    border-bottom: 2px solid #4187f6;
    width: 300px;
    margin-top: 70px;
    margin-left: 26vh;
  }
  .ktk {
    width: 150px;

    margin-top: -21px;
    margin-left: 32vh;
  }
  .ktk p {
    color: white;
    text-align: center;
    background: #4187f6;
    padding: 10px 20px;
    border-radius: 6px;
  }

  .mobil {
    position: relative;
    background: white;
    width: 200px;
    height: 400px;
    margin-left: 100px;
    margin-bottom: 20px;
    margin-top: 50px;
    border-radius: 20px;
    float: left;
  }
  .motor {
    position: relative;
    background: white;
    width: 200px;
    height: 400px;
    margin-left: 110px;
    margin-bottom: 30px;
    margin-top: 50px;
    border-radius: 20px;
    float: left;
  }
  .bts2 {
    border-bottom: 2px solid #4187f6;
    width: 300px;
    margin-top: 40vh;
    margin-left: 26vh;
  }
  .ktk2 {
    width: 150px;

    margin-top: -21px;
    margin-left: 32vh;
  }
  .ktk2 p {
    color: white;
    text-align: center;
    background: #4187f6;
    padding: 10px 20px;
    border-radius: 6px;
  }
} */
